* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* loader */
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.loader {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
    border: 4px solid white;
    animation: loader 3s infinite ease-in;
    z-index: 999;
}

.loader-inner {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background-color: white;
}

@keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}  
}

/* navbar */
.navbar {
    width: 100% !important;
    justify-content: flex-start !important;
    background-color: black;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    opacity: 0.5;
    transition: transform 150ms;
    transform: translateY(-3px);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #about {
        color: #007bff !important;
    }
  }

/* about me container */
.container {
    left: 0;
    right: 0;
    top: 27%;
    text-align: center;
    position: absolute;
    padding-bottom: 3%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container {
        top: 15%;
        padding-bottom: 15%;
    }
  }

h1 {
    font-size: 3rem !important;
}

p,
.container a {
    font-size: 24px;
    z-index: 999;
}

.container a:hover {
    cursor: pointer;
}

img {
    height: 70vh;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: me 2.5s;
}

@keyframes me {
    0% {margin-right: -300px;}
    100% {margin-right: 0;}
}

/* footer */
footer {
    position: absolute;
    bottom: 0.5%;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    footer {
        color: white;
        z-index: -3;
        display: none;
        }
  }