* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

/* navbar */
.navbar {
    width: 100% !important;
    justify-content: flex-start !important;
    background-color: black;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    opacity: 0.5;
    transition: transform 150ms;
    transform: translateY(-3px);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #about {
        color: #007bff !important;
    }
  }

/* about me container */
.container {
    left: 0;
    right: 0;
    top: 27%;
    text-align: center;
    position: absolute;
}

h1 {
    font-size: 3rem !important;
    /* color: black !important; */
    /* -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black; */
    /* padding: 13px; */
}

p,
.container a {
    font-size: 24px;
    z-index: 999;
}

.container a:hover {
    cursor: pointer;
}

img {
    height: 70vh;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: me 2.5s;
}

@keyframes me {
    0% {margin-right: -300px;}
    100% {margin-right: 0;}
}

/* footer */
footer {
    position: absolute;
    bottom: 0.5%;
    width: 100%;
    text-align: center;
}