* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body {
            background-color: black;
        }
    }

/* navbar */
.navbar {
    width: 100% !important;
    justify-content: flex-start !important;
    position: fixed !important;
    background-color: black;
    z-index: 3;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    opacity: 0.5;
    transition: transform 150ms;
    transform: translateY(-3px);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #portfolio {
            color: cornflowerblue;
        }
    }

/* title */
h1 {
    font-size: 40px !important;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    h1 {   
            display: none;
        }
    }

/* image grid */
.row {
    display: flex;
    flex-wrap: wrap;
    padding-top: 17%;
    width: 101%;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .row {
            width: 110%;
            background-color: black;
        }
    }

img {
    vertical-align: middle;
    height: 55vh;
    margin: 0;
}

/* footer */
footer {
    position: relative;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 0.5%;
    text-align: center;
    color: black;
}